{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block header %}
      <title>SRC</title>
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="bg" style="background-image: url(/{{ cover_photo }});"></div>
    <div class="navbar" >
        <div class="subnavbar">
          <div class="distributer" id="mainlinks">
            <a href="{% url "contact" %}" class="navbarlinks" id="contactlink">Contact</a>
            <a href="{% url "index" %}" class="navbarlinks" id="homelink" hidden>Home</a>
            <a onclick="openLoginPage()" class="navbarlinks">Login</a>
            <a onclick="toggleSocials()" class="navbarlinks">Socials</a>
          </div>
          <div class="distributer" id="socials" style="display: none;">
            {% for social in socials %}
              <a href="{{ social.Social_Media_Link }}" class="fa {{ social.Social_Media }}"></a>
            {% endfor %}
          </div>
            <div class="centerer">
              <div id="login">
              <p class="loginsignuptext">Email</p>
              <input type="email">
              <p class="loginsignuptext">Password</p>
              <input type="password"><br><br><br>
              <div class="centerer"><button class="login">Login</button></div>
              <div class="centerer"><p>Don't Have An Account? <a style="text-decoration: underline;" onclick="openSignupPage()">Sign Up</a></p></div>
            </div>
            <div id="signup">
              <p class="loginsignuptext">Email</p>
              <input type="email">
              <p class="loginsignuptext">Full Name</p>
              <input type="text">
              <p class="loginsignuptext">Password</p>
              <input type="password">
              <br><br><br><br><br>
              <div class="centerer"><button class="login">Sign Up</button></div>
              <br>
              <div class="centerer"><p>Already Have An Account? <a style="text-decoration: underline;" onclick="openSignupPage()">Login</a></p></div>
            </div>
          </div>
        </div>
        <div id="navbartoggle">
          <img src="{% static "images/logo.svg" %}" style="cursor: pointer;" onclick="this.parentElement.children[1].click();">
          <input hidden type="checkbox" id="navbartogglebox" onchange="toggleNavbar(this.checked)">
        </div>
        <div class="mask"></div>
    </div>
    <script src="{% static "scripts/index.js" %}"></script>
    {% block content %}

    {% endblock %}
  </body>
</html>