{% extends "base.html" %}
{% load static %}

{% block header %}
    <meta charset="UTF-8" />
    <title>Home | SRC</title>
    <link rel="stylesheet" href="{% static "styles/fonts.css" %}">
    <link rel="stylesheet" href="{% static "styles/index.css" %}">
    <link rel="stylesheet" href="{% static "styles/animations.css" %}">
    <script src="{% static "scripts/html2canvas.min.js" %}"></script>
{% endblock header %}
{% block content %}
<h1 class="topfat">{{ title_text }}</h1>
<h3>{{ subtitle_text }}</h3>
<div class="centerer">
    <a class="topboost" href="{% url "book" %}"><button>Open Journal</button></a>
</div>
<img src="{% static "images/AMIC logo 1.png" %}" id="amiclogo">
{% endblock content %}