@font-face {
    font-family: 'IrishGrover';
    src: url('/static/fonts/IrishGrover-Regular.ttf'); 
}
@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter-VariableFont_slnt\,wght.ttf'); 
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: #145DA1;
}