@font-face {
    font-family: 'IrishGrover';
    src: url('/static/fonts/IrishGrover-Regular.ttf'); 
}
@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter-VariableFont_slnt\,wght.ttf'); 
}
